<div class="container">
    <div class="row" *ngFor="let naelapuss of naelapussid">
      <div class="col"><img src="{{naelapuss.imgSrc}}" alt=""></div>
      <div class="col"><b>{{naelapuss.name}}</b></div>
      <div class="col"><i>{{naelapuss.description}}</i></div>
      <div class="col"><i class="punane">Rendi esimene 24h: </i> <b>{{(naelapuss.price * 0.1).toFixed(2)}}€</b><br>
        <br>
        <i class="punane">Iga järgnev 24h: </i> <b>{{(naelapuss.price * 0.02).toFixed(2)}}€</b></div>
        <button class="btn btn-secondary" (click)="onAddToCart(naelapuss)">Broneerimiseks vajuta siia</button>
        
      <div class="w-50"></div>
    
      
      
    </div>
  </div>
  
