.map-container {
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}
.btn-primary {

  margin: 3px 3px;
  
}
.nupud {
  text-align: center;
}

