<div class="container">
    <div class="row" *ngFor="let laser of laserid">
      <div class="col"><img src="{{laser.imgSrc}}" alt=""></div>
      <div class="col"><b>{{laser.name}}</b></div>
      <div class="col"><i>{{laser.description}}</i></div>
      <div class="col"><i class="punane">Rendi esimene 24h: </i> <b>{{(laser.price * 0.1).toFixed(2)}}€</b><br>
        <br>
        <i class="punane">Iga järgnev 24h: </i> <b>{{(laser.price * 0.02).toFixed(2)}}€</b></div>
        <button class="btn btn-secondary" (click)="onAddToCart(laser)">Broneerimiseks vajuta siia</button>
        
      <div class="w-50"></div>
    
      
      
    </div>
  </div>
  
  
