
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="carouselImg" src="assets/carousel2.jpeg" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <h3>Caterpillari rasketehnika</h3>
                <p>Renditakse vaid koos juhiga</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="carouselImg" src="assets/carousel1.webp" alt="Random second slide">
              </div>
              <div class="carousel-caption">
                <h3>Makita tööriistad</h3>
                <p>Tuntud kvaliteet ja vastupidavus</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="carouselImg" src="assets/carousel3.jpeg"  alt="Random third slide">
              </div>
              <div class="carousel-caption">
                <h3>Dewalt tööriistad</h3>
                <p>Tuntud kvaliteet ja vastupidavus</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="carouselImg" src="assets/carousel4.jpeg" alt="Random fourth slide">
              </div>
              <div class="carousel-caption">
                <h3>Tellingud</h3>
                <p>Lisaks pakume turu kiireimat paigaldusteenust</p>
              </div>
            </ng-template>
          </ngb-carousel>
    
  
