<div class="container">
    <div class="row" *ngFor="let akumutrikeeraja of akumutrikeerajad">
      <div class="col"><img src="{{akumutrikeeraja.imgSrc}}" alt=""></div>
      <div class="col"><b>{{akumutrikeeraja.name}}</b></div>
      <div class="col"><i>{{akumutrikeeraja.description}}</i></div>
      <div class="col"><i class="punane">Rendi esimene 24h: </i> <b>{{(akumutrikeeraja.price * 0.1).toFixed(2)}}€</b><br>
        <br>
        <i class="punane">Iga järgnev 24h: </i> <b>{{(akumutrikeeraja.price * 0.02).toFixed(2)}}€</b></div>
        <button class="btn btn-secondary" (click)="onAddToCart(akumutrikeeraja)"
                                          (click)="addInfoToast()">Broneerimiseks vajuta siia</button>
        
      <div class="w-50"></div>
    
      
      
    </div>
  </div>

  <lib-toastify-toast-container
    [autoClose]="1500"
    [position]="'bottom-right'"
></lib-toastify-toast-container>